body {
	background: pink;
}

.altwrite--relative {
	position: relative;
	z-index: 9999;
}

.altwrite__button {
	background: black;
	color: #fff;
	border: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
}

.altwrite__button svg {
	fill: #fff;
	width: 10px;
	height: 10px;
}

.altwrite__modal-container {
  background: white;
  position: absolute;
	z-index: 9999;
	padding: 24px 24px 40px;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.altwrite__modal-title {
	font-size: 20px;
}

.altwrite__modal-input {
	padding: 8px;
	border-radius: 2px;
	border: 1px solid #000;
	height: 40px;
	box-sizing: border-box;
}

.altwrite__modal-send-button {
	background: #000;
	color: #fff;
	border: 0;
	border-radius: 0;
	height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 16px;
	font-weight: 500;
	box-sizing: border-box;

}
