body {
	background: pink;
}

.altwrite__button {
	background: black;
	color: #fff;
	border: 0;
	position: relative;
	z-index: 9999;
}

.altwrite__button svg {
	fill: #fff;
	width: 10px;
	height: 10px;
}
